/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

// Variables
$main: 18;
$line: 30;

// Vertical rhythm

@mixin font($size, $height: 1) {
  font-size: #{$size / $main}em;
  line-height: #{$line / $size / $height};
}

@mixin padding($size, $top: 0, $bottom: 0, $lateral: 0) {
  padding: ($top * $line / $size + em) ($lateral + em) ($bottom * $line / $size + em);
}

// Main elements

* {
  padding: 0;
  margin: 0 auto;
  font-weight: normal;
  text-align: justify;
  -webkit-text-size-adjust: none;
}

/**
 * Basic styling
 */
body {
  font: #{$main / 16}em / #{$line / $main} "Nanum Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;

  @media screen and (max-width: 470px) {
    font-size: 0.875em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 1.1875em;
  }
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

strong {
  font-weight: bold;
}

.post, .nav ul {
  max-width: 41em;

  @include padding($main, 0, 0, 1);
}

.nav, .foot {
  text-align: center;
}

p {
  @include padding($main, 0.5, 0.5);
}

time {
  @include padding(19, 2, 1);

  @include font(19);

  font-style: italic;
  color: #aaa;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 0;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    @include padding($main, 0, 0, 1);
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

// Headings

h1 {
  @include font(26);

  @include padding(50, 1, 1);
  color: $heading-color;
}

h2 {
  @include font(25);

  @include padding(25, 1, 1);

  color: $heading-color;
}

h3 {
  @include font(21);

  @include padding(21, 1, 0);

  color: $heading-color;
}
/**
 * Code formatting
 */
code {
  font-family: PT Sans, Calibri, Arial, sans;
  color: #4D4E53;
  line-height: 1.5;
  background: #f5f5f5;
  border: 3px solid #f5f5f5;
}

pre {
  @include padding($main, 0.5, 0.5, 0.75);

  font-family: monospace, monospace;
  overflow-x: auto;
  background: #f5f5f5;
  border-left: 6px solid #eee;

  code {
    border: none;
  }
}

.ge, .gs {
  color: #93a1a1;
}

.nb {
  color: #b58900;
}

.c, .cm, .c1, .sb {
  color: #586e75;
}

.err, .g, .l, .n, .p, .go, .gp, .gt, .ld, .na, .nl, .nn, .nx, .py, .w, .sd, .sh {
  color: #93a1a1;
}

.k, .o, .cp, .cs, .gi, .kn, .kp, .ow {
  color: #859900;
}

.x, .gh, .gu, .kc, .no, .ni, .ne, .se {
  color: #cb4b16;
}

.gd, .m, .s, .mf, .mh, code .mi, code .mo, .sc, .s2, .si, .sx, .s1, .ss, .il {
  color: #2aa198;
}

.gr, .kt, .sr {
  color: #dc322f;
}

.kd, .kr, .nc, .nd, .nf, .nt, .nv, .bp, .vc, .vg, .vi {
  color: #268bd2;
}


/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
