@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

// Variables
$base-font-family: "Nanum Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;

$spacing-unit: 2rem;

$text-color:       #333;
$background-color: #f5f3ee;
$brand-color:      #550000;
$heading-color:    #550000;
$header-color:     #f5f3ee;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$tablet-width: 60rem;

@mixin wide {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet-width) {
    @content;
  }
}

@function rvr($multiple) {
  @return calc(var(--baseline) * $multiple * 1rem);
}

@function vr($multiple) {
  @return 1.6 * $multiple * 1rem;
}

// Reset some basic elements

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// Main elements

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  text-align: justify;
  text-size-adjust: none;
}

// Basic styling
body {
  font-family: $base-font-family;
  color: $text-color;
  background-color: $background-color;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  @include mobile {
    --base-line-height: 1.6;
    line-height: 1.6;
  }
  @include wide {
    --base-line-height: 1.6;
    line-height: 1.6;
  }
}

strong {
  font-weight: bold;
}

time {
  font-style: italic;
  color: #aaa;
}

// Images
img {
  max-width: 100%;
  vertical-align: middle;
}

// Lists
ul, ol {
  list-style: none;
}

// Links
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

// Blockquotes
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

// Headings
h1 {
  font-size: 2rem;
  line-height: vr(2);

  color: $heading-color;
}

h2 {
  font-size: 1.8rem;
  line-height: 3.6rem;

  color: $heading-color;
}

h3 {
  font-size: 1.5rem;
  line-height: 3.6rem;

  color: $heading-color;
}

// Code formatting
code {
  font-family: PT Sans, Calibri, Arial, sans;
  color: #4D4E53;
  line-height: 1.5;
}

pre {
  font-family: monospace, monospace;
  overflow-x: auto;
  border-left: 6px solid #eee;
  background-color: #FDF6E3

  code {
    border: none;
  }
}

// KeyWordTok
.sourceCode .kw { color: #268BD2; }
// DataTypeTok
.sourceCode .dt { color: #268BD2; }
// DecValTok (decimal value), BaseNTok, FloatTok
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
// CharTok
.sourceCode .ch { color: #DC322F; }
// StringTok
.sourceCode .st { color: #2AA198; }
// CommentTok
.sourceCode .co { color: #93A1A1; }
// OtherTok
.sourceCode .ot { color: #A57800; }
// AlertTok
.sourceCode .al { color: #CB4B16; font-weight: bold; }
// FunctionTok
.sourceCode .fu { color: #268BD2; }
// RegionMarkerTok
.sourceCode .re { }
// ErrorTok
.sourceCode .er { color: #D30102; font-weight: bold; }

// Wrapper
.wrapper {
}

main {
  padding: vr(2);
  @include wide {
    max-width: calc(100vw - 14rem);
  }
}

// Icons
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

// Site header
.site-header {
  color: $header-color;
  background: $brand-color;
  a {
    color: $header-color;
  }

  h1 {
    color: $header-color;
    font-weight: bold;
    line-height: vr(1.5);
    text-align: center;
  }

  @include mobile {
    padding: vr(1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    nav {
      margin-top: vr(0.5);
      display: flex;
      flex-direction: column;
      .navigation-menu {
        display: flex;
        justify-content: center;
        li {
          margin-right: vr(1.5);
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .language-menu {
        display: flex;
        justify-content: center;
        margin-top: vr(0.5);
        li {
          margin-right: vr(1.5);
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  @include wide {
    position: fixed;
    max-width: 14rem;
    order: 2;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    padding: vr(1.5);
    nav {
      margin-top: vr(1);
      li {
        margin-top: vr(0.2);
      }
      .posts {
        li {
          margin-left: vr(0.5);
          font-size: 0.7rem;
        }
      }
      .language-menu {
        margin-top: vr(1);
      }
    }
  }
}

// Page content
.page-content {
}

.page-heading {
  text-align: center;
}

.post-list {
  margin-left: 0;
  list-style: none;
  max-width: 35em;
}

.post-meta {
  color: $grey-color;
}

.post-link {
  display: block;
}

// Posts
.post-title {
}

.post-content {
}
