@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

// Variables
$base-font-family: "Nanum Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;

$text-color:       #333;
$background-color: #f5f3ee;
$brand-color:      #550000;
$heading-color:    #550000;
$header-color:     #f5f3ee;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$tablet-width: 60rem;

@mixin wide {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet-width) {
    @content;
  }
}

@function vr($multiple) {
  @return 1.7 * $multiple * 1rem;
}

// Reset some basic elements

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  word-break: keep-all;
  word-wrap: break-word;
}

// Main elements

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  text-size-adjust: none;
}

// Basic styling
body {
  font-family: $base-font-family;
  color: $text-color;
  background-color: $background-color;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  @include mobile {
    --base-line-height: 1.7;
    line-height: 1.7;
  }
  @include wide {
    --base-line-height: 1.7;
    line-height: 1.7;
  }
}

strong {
  font-weight: bold;
}


// Images
img {
  max-width: 100%;
  vertical-align: middle;
}

// Links
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

// Blockquotes
blockquote {
  border-left: 4px solid $grey-color;
  padding-left: vr(0.7);
  font-style: italic;
}

hr {
  margin: vr(1) 0;
}

p {
  padding: vr(0.3) 0;
}

figure > img {
  display: block;
}

figcaption {
  font-size: 0.8rem;
}

// Headings
h1 {
  font-size: 2rem;
  color: $heading-color;
  padding-top: vr(0.5);
  font-weight: bold;
  a {
    font-weight: bold;
  }
}

h2 {
  font-size: 1.8rem;
  color: $heading-color;
  padding-top: vr(0.5);
}

h3 {
  font-size: 1.5rem;
  color: $heading-color;
  padding-top: vr(0.5);
}

// Code formatting
code {
  font-family: "Source Code Pro", Calibri, Arial, sans;
  background-color: #FDF6E3;
}

pre {
  font-family: monospace, monospace;
  overflow-x: auto;
  border-left: 6px solid #eee;
  background-color: #FDF6E3;
  margin: vr(0.5) 0;
  padding-left: vr(0.3);

  code {
    border: none;
    background-color: none;
    a {
      color: $text-color;
    }
  }
}

// KeyWordTok
.sourceCode .kw { color: #268BD2; }
// DataTypeTok
.sourceCode .dt { color: #268BD2; }
// DecValTok (decimal value), BaseNTok, FloatTok
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
// CharTok
.sourceCode .ch { color: #DC322F; }
// StringTok
.sourceCode .st { color: #2AA198; }
// CommentTok
.sourceCode .co { color: #93A1A1; }
// OtherTok
.sourceCode .ot { color: #A57800; }
// AlertTok
.sourceCode .al { color: #CB4B16; font-weight: bold; }
// FunctionTok
.sourceCode .fu { color: #268BD2; }
// RegionMarkerTok
.sourceCode .re { }
// ErrorTok
.sourceCode .er { color: #D30102; font-weight: bold; }

main {
  padding: vr(2) vr(3);
  @include wide {
    min-width: calc(#{$tablet-width} - 15rem);
    max-width: calc(100vw - 55rem);
  }
}

// Icons
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

// Site header
.site-header {
  color: $header-color;
  background: $brand-color;
  a {
    color: $header-color;
  }

  ul, ol {
    list-style: none;
  }

  h1 {
    color: $header-color;
    line-height: vr(1.5);
    padding: 0;
  }

  @include mobile {
    padding: vr(1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      text-align: center;
    }
    nav {
      margin-top: vr(0.5);
      display: flex;
      flex-direction: column;
      .navigation-menu {
        display: flex;
        justify-content: center;
        li {
          margin-right: vr(1.5);
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .language-menu {
        display: flex;
        justify-content: center;
        margin-top: vr(0.5);
        li {
          margin-right: vr(1.5);
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  @include wide {
    position: fixed;
    max-width: 15rem;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: vr(1.5);
    nav {
      li {
        margin-top: vr(0.2);
      }
      .navigation-menu {
        padding: vr(0.3) 0;
      }
      .language-menu {
        padding-top: vr(0.3);
      }
    }
  }
}

// Posts
.posts {
  .post-teasers {
    list-style: none;

    .post-teaser {
      padding: vr(0.5) 0;
      &:first-child {
        margin-top: 0;
      }
      header {
        h1 {
          padding: 0;
        }
      }
      ul, ol {
        padding-left: vr(0.7);
      }
    }
  }
  > footer {
    display: flex;
    justify-content: center;
    a {
      padding: 0 vr(0.2);
      margin: 0 vr(0.2);
      &.active {
        text-decoration: underline;
        font-weight: bold;
      }
    }
    a.active {
    }
  }
}

// Post
.post {
  header {
    h1 {
      padding: 0;
    }
    ul, ol {
      list-style: none;
      display: flex;
      li {
        margin-right: vr(0.5);
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  section {
    ul, ol {
      padding-left: vr(0.7);
    }
  }
}
