<!doctype html>
<html lang="$htmlLang$">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header class="site-header">
      <h1>Harfang's Perch</h1>
      <nav>
        <ul class="navigation-menu">
          <li>
            <a href="$postsLinkUrl$">$postsLinkText$</a>
          </li>
          <li>
            <a href="$aboutLinkUrl$">$aboutLinkText$</a>
          </li>
          $if(rssFeedUrl)$
          $if(atomFeedUrl)$
          <li>
            <a href="$rssFeedUrl$">RSS</a>
          </li>
          <li>
            <a href="$atomFeedUrl$">Atom</a>
          </li>
          $endif$
          $endif$
        </ul>
        <ul class="language-menu">
          $for(langs)$
          <li>
            <a href="$langUrl$">$langName$</a>
          </li>
          $endfor$
        </ul>
      </nav>
    </header>

    <main role="main">
      $body$
    </main>
  </body>
</html>
